@use "../lib/lib";
@use "../lib/layout";

.app-section {
  &__content {
    &::before {
      display: block;
      height: 278px;
      margin-bottom: lib.base-x(2);

      @include lib.bg-image("../images/iphone.png", lib.$base-dark, center, contain);

      content: "";
    }
  }

  &__text {
    margin-bottom: lib.base-x(2);
  }

  &__link {
    padding: lib.base-x(2) lib.base-x(5);
  }
}

@media (min-width: 768px) {
  .app-section {
    &__content {
      @include layout.cols(2, 1fr) {
        column-gap: 50px;
      }

      &::before {
        order: 1;
        margin: 0;
      }
    }

    &__wrapper {
      padding-top: lib.base-x(2);
    }
  }
}
