@use "../lib/lib";
@use "../lib/layout";

.subscription-form {
  max-width: 570px;
  margin: 0 auto;

  &__wrapper {
    margin-bottom: lib.base-x(3);
  }

  &__input {
    width: 100%;
    min-width: 270px;
  }

  &__button {
    width: 100%;
  }
}

.banner-section {
  padding: 250px 0 200px;
  text-align: center;

  @include lib.bg-image("../images/banner.jpg", lib.$base-dark);

  &__text {
    margin: lib.base-x(2) 0;
  }
}

@media (min-width: 768px) {
  .subscription-form {
    @include layout.cols(2, 1fr, lib.base-x(3));

    &__wrapper {
      margin: 0;
    }

    &__button {
      grid-column: 1 / -1;
    }
  }

  .banner-section {
    padding-top: 200px;

    &__text {
      margin-top: lib.base-x(4);
    }
  }
}
