@use "../lib/lib";
@use "../lib/layout";

.news-list {
  &__item {
    margin-bottom: lib.base-x(8);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.news-item {
  display: flex;
  flex-direction: column;

  &__heading {
    margin-bottom: lib.base-x(2);
    text-align: left;
  }

  &__image {
    order: -1;
    margin-bottom: lib.base-x(6);
  }

  &__text {
    max-width: 575px;
    margin: 0;
    margin-bottom: lib.base-x(3);
  }

  &__link {
    align-self: flex-start;
    order: 1;
    margin-top: lib.base-x(6);
    padding: {
      top: lib.base-x(2);
      bottom: lib.base-x(2);
    }
  }
}

.news-info {
  @include layout.align-center;

  @include lib.font-base(400, 13px, 1.5) {
    text-transform: uppercase;
  }

  &__avatar {
    width: 1.5em;
    height: 1.5em;
    margin-right: lib.base-x(2);
  }

  &__publisher {
    margin-right: lib.base-x(2);

    @include lib.link-reset(lib.$orange);
  }

  &__date {
    color: lib.$gray-medium;
  }
}

@media (min-width: 768px) {
  .news-item {
    @include layout.cols(2, 1fr) {
      grid-template-rows: repeat(3, min-content) 1fr;
      column-gap: 50px;
    }

    &__heading {
      margin-bottom: 30px;
    }

    &__image {
      grid-row: 1 / -1;
      margin-bottom: 0;
    }

    &__link {
      align-self: start;
      justify-self: start;
    }

    &:nth-child(even) &__image {
      grid-column: 2 / 3;
    }
  }
}
