@use "../lib/lib";
@use "../lib/layout";

.news-list {
  &__item {
    margin-bottom: lib.base-x(8);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.news-item {
  display: flex;
  flex-direction: column;

  &__heading {
    margin-bottom: lib.base-x(2);
    text-align: left;
  }

  &__image {
    order: -1;
    margin-bottom: lib.base-x(6);
  }

  &__text {
    max-width: 575px;
    margin: 0;
    margin-bottom: lib.base-x(3);
  }

  &__link {
    align-self: flex-start;
    order: 1;
    margin-top: lib.base-x(6);
    padding: {
      top: lib.base-x(2);
      bottom: lib.base-x(2);
    }
  }

  &__info {
    @include layout.align-center;

    @include lib.font-base(400, 13px, 1.5) {
      text-transform: uppercase;
    }

    & > * {
      margin-right: lib.base-x(2);
    }

    & > :last-child {
      margin-right: 0;
    }
  }

  &__avatar {
    width: 1.5em;
    height: 1.5em;
  }

  &__publisher {
    @include lib.link-reset(lib.$orange);
  }

  &__date {
    color: lib.$gray-medium;
  }
}
