// Цветовая палитра.
$base-light: #fff;
$base-dark: #08020d;
$text-dark: #757575;
$gray-light: #e0e0e0;
$gray-medium: #cacaca;
$gray-dark: #3c3b3d;
$orange: #f89202;
$green: #34c176;
$blue: #5328a1;
$brown: #95390c;
