@use "general";
@use "header";
@use "main";
@use "footer";

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  font-size: 1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
